<h2>Liste des Gossips Lets Show gossip</h2>
  <div class="card-deck">
    <div class="col-sm-6">
        <% @all_gossips.each do |gossip| %>
          <div class="card border-info text-white bg-info mb-3">
            <div class="card-header bg-light text-warning">
              Auteur
              <%= gossip.user.first_name %> 
            </div>
            <div class="card-body">
             Titre du gossip
              <h5 class="card-title"><%= gossip.title %></h5>
              
            </div>
          </div>
        <% end %>
      </div>
    </div>